<nav class="orange darken-4">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">{{APP_TITLE}}</a>  
    <!-- These navigation links disappear if the screen gets too small. -->
    <ul class="right hide-on-med-and-down">
      <li><lang-switcher></lang-switcher></li>
      <li><more></more><i class="material-icons">more_vert</i></li>
    </ul>
    <!-- Put up a "hamburger" menu when the web page gets too narrow -->
    <a href="#" data-activates="side-menu" ><i class="material-icons">more_vert</i></a>
    <!-- These navigation links appear when the web page gets narrow. -->
    <!-- They appear when the user clicks the hamburger menu. -->
    <ul class="side-nav" id="side-menu">
      <li><lang-switcher></lang-switcher></li>
    </ul>
  </div>
</nav>