.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
.secondary-content.left {
  margin-right:.5em;
}
.action-bar i.medium {
    font-size: 1.2em;
}
.recipes.collection .collection-item,
.recipes.collection .card {
      border-left: 5px transparent;
      padding-left: 25px;
}
.recipes.collection .collection-item.active,
.recipes.collection .card.active {
  border-left-color: solid rgb(238, 110, 115);
}